/* About Us section */

#aboutUsBg {
    position: relative;
    /* z-index: 1; */
    margin-top: 30px;
    width: 100%;
    height: 200px;
    background-image: url(../images/sushi-rolls.jpg);
    background-position: right;
    background-size: cover;
    color: #fff;
    font-size: 40px;
    text-align: center;
}
#aboutUsBg::after{
    content: "";
    z-index: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.text-center{
    z-index: 1;
    text-align: center;
    color:#FFE817;
}
<<<<<<< HEAD
#aboutUsBg::after{
    content: "";
    z-index: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.text-center{
    z-index: 1;
    text-align: center;
    color:#FFE817;
}
=======
>>>>>>> b312acd161127e706426003fe43b70f06a1c51cc
#blackLayer {
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0); */
    display: flex;
    align-items: center;
    justify-content: center;
}

#info {
    height: 350px !important;
}
.myRow {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.icon i {
    color: #ECA61E;
<<<<<<< HEAD
    
}

/* 
=======

}

/*
>>>>>>> b312acd161127e706426003fe43b70f06a1c51cc
.myRow {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.icon {
    float: left;
    margin-right: 15px;
}

.icon i {
    color: #ECA61E;
}

.content {
    float: left;
    font-size: 20px;
}

.content h2 {
    font-size: 30px !important;
    margin: 0 0 15px 0;
}

.phone {
    height: 50px;
} */


/* About Us section end */

.submitButton {
    width: 150px;
    padding: 8px 14px;
    border-radius: 10px;
    outline: none !important;
    cursor: pointer;
    text-decoration: none;
    background-color: #000;
    color: #FFE817;
    transition: all .4s linear;
}

.submitButton:hover {
    color: #FFE817;
    transform: translateY(-5px);
}

@media screen and (max-width: 500px) {
    #mapFinland {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    #informationsAboutUs,
    #mapFinland,
    #info {
        width: 100%;
    }
    #informationsAboutUs {
        margin-bottom: 100px;
    }
}


